NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDYHVi3c-cNvdcMON5wcPjRrJ1nxpdrw2Y
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sk-presidency-public-school.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sk-presidency-public-school
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sk-presidency-public-school.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=808351998605
NEXT_PUBLIC_FIREBASE_APP_ID=1:808351998605:web:0c8d072cfea4efa74278c4
IMGBB_API_KEY=your_imgbb_api_key_here
